<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> 添加主机 </title>
    <link href="/static/js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/js/bootstrap/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container-fluid">
    <h2>添加主机</h2>

        <form action="" method="post">
            {% csrf_token %}
            <p><input type="text" class="form-control" placeholder="请输入主机名" name="host"></p>
            <p>
                <button type="submit" class="btn btn-primary">添加主机</button>
            </p>
        </form>

</div>

</body>
</html>