<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>主机详情</title>
    <link href="/static/js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/js/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <h2>主机列表</h2>
    </div>

    <div class="row">
        <div class="col-md-12 ">
            <div class="panel panel-default">
                <table class="table table-bordered table-striped dataTable" style="text-align: center">
                    <tr>
                        <th>ID</th>
                        <th>主机名</th>
                        <th>操作系统</th>
                        <th>CPU</th>
                        <th>内存</th>
                        <th>IP地址</th>
                        <th>状态</th>
                    </tr>
                    {% for i in current_list %}
                        <tr>
                            <td>{{ i.id }}</td>
                            <td><a href="/server/list/info/{{ i.id }}/">{{ i.hostname }}</a></td>
                            <td>{{ i.os }}</td>
                            <td>{{ i.cpu }}</td>
                            <td>{{ i.memory }} MB</td>
                            <td>
                                {% for n in i.network_set.all %}
                                    {{ n.ipaddr }}<br/>
                                {% endfor %}
                            </td>
                            <td> {% if i.status %}
                                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" style="color: #43e73a"></span>
                                {% else %}
                                    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true" style="color: red"></span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>


            <nav aria-label="Page navigation">
                <ul class="pagination">

                    {#has_previous 判断是否有上一页#}
                    {% if current_list.has_previous %}
                        {#previous_page_number 上一页的页码#}
                        <li><a href="?page={{ current_list.previous_page_number }}" aria-label="Previous"><span
                                aria-hidden="true">上一页</span></a></li>
                    {% else %}
                        {#class="disabled" 禁止用户点击#}
                        <li class="disabled"><a href="" aria-label="Previous"><span aria-hidden="true">上一页</span></a>
                        </li>
                    {% endif %}


                    {#遍历页码的列表#}
                    {% for i in paginator.page_range %}
                        {#判断当前页码数等于底部页码时#}
                        {% if current_num == i %}
                            {#增加class,加深按钮#}
                            <li class="active"><a href="?page={{ i }}">{{ i }}</a></li>
                        {% else %}
                            {#href参数为简写,它会自动获取当前路径，并拼接参数#}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}


                    {#has_next 判断是否有下一页#}
                    {% if current_list.has_next %}
                        {#next_page_number 下一页的页码#}
                        <li><a href="?page={{ current_list.next_page_number }}" aria-label="Next"><span
                                aria-hidden="true">下一页</span></a></li>
                    {% else %}
                        {#class="disabled" 禁止用户点击#}
                        <li class="disabled"><a href="" aria-label="Next"><span aria-hidden="true">下一页</span></a></li>
                    {% endif %}


                </ul>
            </nav>


        </div>
    </div>
</div>
</body>
</html>